@{
    string str=string.Empty;
    int i=0,Result=0;
    Answer s=new Answer();
   
    if(!string.IsNullOrEmpty(Request.QueryString["Stud_ID"]))
    {        
        if(int.TryParse(Request.QueryString["Stud_ID"],out i))
        {             
            s.StudentID= i;           
            str=((Student)s).StudentNameByID();
        }  
       Answer[] OriginalAnsSet= s.BringOriginalAnswer();
       Answer[] Answers= s.BringAnswer();
       for(int x=0;x<Answers.Length;x++)
       {                    
           foreach(var item in OriginalAnsSet)
           {
               if(Answers[x].Equals(item))
               {
                   ++Result;
               }
           }    
       }
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
         <link rel="stylesheet" href="../bootstrap.3.3.5/Content/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap.3.3.5/Content/bootstrap-theme.min.css">
         <link rel="stylesheet" href="../StyleSheets/StyleSheetFPage1.css">
        <style type="text/css">
            .Style1{
              text-align: center;
            }
        </style>
    </head>
    <body>
         <div class="jumbotron">
            <h2>Exam System</h2>
        </div>
        <div class="Style1">
            <h2>Name : @str</h2>  
            <h3>
            <label>Toatal No : </label>
           <label style="font-weight: 900">@Result </label>   </h3>         
                   
        </div>
    </body>
</html>
